.cprbuttonlink {
	color: #fff!important;
	background-color: #4DB458;
    padding: 10px;
}
.cprbuttonlink:hover{
	background-color: #fcb937 !important;
	color: #fff !important;
	text-decoration: none;
}
.block_my_course_progress{
	border-top: 4px solid #4DB458!important;
    border-left: 1px solid rgba(31,77,135,.2)!important;
    border-right: 1px solid rgba(31,77,135,.2)!important;
    border-bottom: 1px solid rgba(31,77,135,.2)!important;
    border-radius: 15px!important;
}
.block.block_my_course_progress .content {
	padding: 10px;
	margin-top: 2rem;
	min-height: 435px;
}
.block_my_course_progress .nav-item a{
	
    font-size: 14px;
}
.block_my_course_progress .nav-link .active{
	border: 1px solid #ddd!important;
   	border-bottom-color: transparent!important;
}
.block_my_course_progress .grid__container {
	overflow: hidden;
	margin:10px !important;
}

.block_my_course_progress .grid__container .grid__item{
    display: block;
    position: relative;
    margin-bottom: 4rem;
	border: 1px solid #ccc;
    padding: 0px;
}
.block_my_course_progress .course {
	min-height: 16rem;
}
.block_my_course_progress .event .course {
	min-height: 2rem;
}
.block_my_course_progress .course .course__title {
	margin: 0.5rem 0;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
/* added by arjun*/

.block_my_course_progress .course .course__image {
	max-width: 100%;
	min-height: 150px;
	max-height: 150px;
}
center#cbutton {
    overflow: hidden;
    padding: 2px;
    margin-bottom: 5px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	.block_my_course_progress .grid__container .grid__item{
	    float: left;
		max-width: 48%;
	    margin-left: 0.99%;
	    margin-right: 0.99%;
	}

	.block_my_course_progress .grid__container .grid__item:first-child {
		margin-left: 0;
	}

	.block_my_course_progress .grid__container .grid__item:nth-child(2n+1) {
		clear: left;
		margin-left: 0;
	}

/* added by arjun*/
	.block_my_course_progress .course .course__image {
		width: 100%;
		min-height: 150px;
		max-height: 150px;
		/*max-height: 150px;*/
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	
	.block_my_course_progress .grid__container .grid__item{
		max-width: 30%;
	    margin-left: 1.49%;
	    margin-right: 1.49%;
	}

	.block_my_course_progress .grid__container .grid__item:nth-child(2n+1) {
		clear: none;
		margin-left: 1.49%;
	}

	.block_my_course_progress .grid__container .grid__item:nth-child(3n+1) {
		clear: left;
		margin-left: 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	.block_my_course_progress .grid__container .grid__item{
		max-width: 22%;
	    margin-left: 1.49%;
	    margin-right: 1.49%;
	}

	.block_my_course_progress .grid__container .grid__item:nth-child(3n+1) {
		clear: none;
		margin-left: 1.49%;
	}

	.block_my_course_progress .grid__container .grid__item:nth-child(4n+1) {
		clear: left;
		margin-left: 0;
	}
}

.block_my_course_progress .progress__completion.status--completed {
	text-align: center;
    background-color: #319f1b;
    color: #fff;
    border-radius: 3px;
    padding: 0.25rem;
}

.block_my_course_progress .progress__completion .progress__percent{
	font-weight: bold;
    margin-left: 1rem;
}

.block_my_course_progress .progress__bar {
    position: relative;
    height: 15px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
    box-shadow: 0 0 5px rgba(0,0,0,0.15) inset;
    border-radius: 3px;
}

.block_my_course_progress .progress__bar .progress__bar__fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #319f1b;
	box-shadow: 0 0 5px rgba(0,0,0,0.15) inset;
}	